!!! 5
html(lang='en')
head
	meta(charset='utf-8')
	title Node.js Twilio Client Demo
	link(rel='stylesheet', href='//static0.twilio.com/packages/quickstart/client.css')
body!= body
	script(src='//static.twilio.com/libs/twiliojs/1.0/twilio.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
	script(src='js/script.js')
